# dependencies
**/node_modules/

# next.js build files
**/.next/
**/out/
**/build/

# debug and logs
**/*.log
**/.pnpm-debug.log*
.DS_Store
Thumbs.db

# env files
**/.env*

# typescript build info
**/*.tsbuildinfo

# Python
**/__pycache__/
**/*.pyc
**/venv/
services/media/static/*.mp4
services/scratch/

# IDEs
.idea/

# macOS metadata
**/._*


